.App {
  text-align: center;
  background: #030 !important;
  min-height: 100vh;
}

body {
  background: #003 !important;
  --scrollbarBG: #009;
  --thumbBG: #ddd;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

a {
  color: gray;
}

.container {
  list-style-type: none !important;
}

.centered {
  justify-content: space-evenly;
}

/* Nav-Bar Header Styles*/

.nav-container {
  background: rgb(12, 216, 46);
  position: fixed;
  left: 0;
  width: 100%;
  height: 8.0vh;
  float: left;
  border-style: solid;
}

.brand {
  margin-left: 0.2vw;
  color: rgb(255, 255, 255);
  font-size: 1.8vw;
  float: left;
}

.switch-title {
  background: inherit;
  color: white;
  font-size: 0.7vw;
  letter-spacing: 1px;
}

.switch-button {
  background: #003;
  border-color: darkgrey;
  color: white;
  font-size: 0.6vw;
  letter-spacing: 1px;
}

.nav-bar-item {
  margin: 0.5% 0 0 30% !important;
  display: block;
}

.btn.btn-primary {
  background-color: inherit;
  border-color: darkgrey;
  border-width: medium;
  font-weight: bold;
  font-size: 1.2vw;
  letter-spacing: 1px;
  white-space: nowrap;
}

.btn {
  border: 1px solid transparent;
  border-radius: .25rem;
  color: white;
  display: inline-block;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  vertical-align: middle;

}

a.active > button {
  background: #00b !important;
}

.button-history {
  background: #003 !important;
  border-color: darkgrey;
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
  letter-spacing: 1px;
  white-space: nowrap;
  margin: 0 0 0 0 !important;
}

.history {
  margin: 0 5% 0 0 !important;
  display: block;
}

.viewing-text {
  background: inherit;
  color: white;
  margin-top: 0.1vh;
  margin-bottom: 0.1vh;
  font-size: 0.5vw;
  letter-spacing: 0.02vw;
}

.menu {
  background: #00b !important;
}

.menu-item {
  background: #00b !important;
  border-radius: .25em;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 4vw;
  padding: 0;
  color: white;
  white-space: nowrap;
}

.popup-content {
  background: #00b !important;
  border: 1px solid #fff !important;
  max-height: 25vh;
  overflow-y: auto;
  --scrollbarBG: #009;
  --thumbBG: #ddd;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.popup-content::-webkit-scrollbar {
  width: 11px;
}

.popup-content::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.popup-arrow {
  background: #00d !important;
  border-bottom: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}

.grid-group > li {
  padding-left: .4vw;
  padding-top: .7vh;
  padding-bottom: .7vh;
}

/* Side-Bar Styles*/

.side-bar-container {
  background: #04399b;
  position: absolute;
  display: flex;
  width: 6vw;
  min-height: 100vh;
  float: left;
  margin-left: -1.2vw;
  justify-content: space-evenly;
  padding-top: 0;
  z-index: 1;
}

.side-bar {
  display: block;
  padding-top: 9vh;
  min-height: 100vh;
}

.side-bar-item {
  padding: 10% 0;
}

.side-bar-item > button.active {
  background-color: #003087 !important;
}

.side-bar-item > button {
  background: #00b !important;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 4vw;
  padding: 0;
}

.tracking {
  font-weight: normal;
  font-size: 1.2vw;
  letter-spacing: 0;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: .03px;
}

.pass {
  color: #0a0;
}

.fail {
  color: red;
}

/* Content Styles */

.grid-group {
  background: #003 !important;
  padding-top: 9vh;
  display: grid !important;
  margin-left: 4.5vw;
  min-width: 94.1vw;
  min-height: 100vh;
  position: static !important;
  overflow-x: hidden !important;
}

.microservice {
  grid-template-columns: repeat(5, 1fr);
  overflow-x: hidden !important;
}

.product {
  grid-template-columns: repeat(9, 1fr);
}

.experience {
  grid-template-columns: repeat(3, 1fr);
}

.experiencesRegression {
  grid-template-columns: repeat(3, 1fr);
}

.test-result-item {
  background-color: #009 !important;
  border-color: darkgrey;
  color: white;
  margin-left: 0;
  margin-right: 0;
  padding: 1px;
  font-size: 1.1vw;
  font-weight: bold;
}

.test-result {
  float: left;
}

.success {
  background-color: #0a0 !important;
  color: black;
  letter-spacing: 1px;
}

.danger {
  background-color: maroon !important;
  letter-spacing: 1px;
}

.test-name {
  font-size: .8vw;
}

.test-time {
  color: lightgray;
  font-weight: normal;
  font-size: .8vw;
}

/* Scroll Bar */

html {
  --scrollbarBG: #009;
  --thumbBG: #ddd;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* Nav-SideBar Styles*/

.sidenav {
  height: 88%; 
  width: 200px; 
  position: fixed; 
  bottom: 0; 
  left: 0;
  background-color:  rgb(12, 216, 46);
  padding-top: 25px;
  border-style: solid;
}

.sidenav a {
  border-color: darkgrey;
  color: white;
  font-size: 1.8vw;
  letter-spacing: 1px;
}

.nav-sidebar-item {
  margin: 0 0 0 1% !important;
  display: block;
}

.logo{
  margin: 0.2% 0 0 2%;
  float: left;
  }